{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<div id="signInButton">
	<span class="g-signin"
    	data-scope="openid email"
        data-clientid="172702071674-mfg0snqnn4gmvm4j5ldi17rl2t8j8979.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
	</span>
</div>
<div id="results"></div>
<script>
	function signInCallback(authResult){
		if(authResult['code']){
			$.ajax({
			      type: 'POST',
			      url: '/gconnect?state={{STATE}}',
			      processData: false,
			      data: authResult['code'],
			      contentType: 'application/octet-stream; charset=utf-8',
			      success: function(result) {
			        // Handle or verify the server response if necessary.
			        if (result) {
			          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
			         setTimeout(function() {
			          window.location.href = "/";
			         }, 4000);
			          
			      	} else if (authResult['error']) {
			    		console.log('There was an error: ' + authResult['error']);
					}else{
						$('#result').html('Failed to make a server-side call. Check your configuration and console.');
					}
				}
			});
		}
	}
</script>
{% endblock %}